<ul class="feed">
    <center>
    {{#each this}}
    <li class="item {{name}}" id="{{name}}{{@index}}">
        <div class="feedTitle">
            <span>{{title}}</span>
        </div>
        <div class="itemContent"><a href="{{link}}">{{{content}}}</a></div>
    </li>
    <br/>{{/each}}
    </center>
</ul>